*{
    font-family: 'Roboto', sans-serif;
}
#box{
    height: 100vh;
    padding: 5px;
}
#operacao{
    height: 30px;
    width: 25%;
}
#salvar{
    background-color:  #009C06;
    color: white;
    text-align: center;
    font-size: 12pt;
    font-weight:bolder;
    width:100PX;
    height: 40PX;
    padding: 2px;
    border-radius: 5px;
    border: none;
}
#dispensar{
    background-color: #C50000;
    color: white;
    text-align: center;
    font-size: 12pt;
    font-weight:bolder;
    width:100PX;
    height: 40PX;
    padding: 2px;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    
}
a{
    text-decoration: none;
}